.doughnut {
  background-color: #66149c;
  border-radius: 12px;
  width: 512px;
  height: 100%;
  border-radius: 12px;
  padding-bottom: 15px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 29px 8%;
}

select {
  background-color: #66149c;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  border: 0;
  width: 90px;
  outline: none;
}

option {
  background-color: #66149c;
  margin-right: 60.04px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  
  text-align: center;
  letter-spacing: -0.457692px;
  
  /* White/100% */
  
  color: red;
}

#year-option{
  margin-right: 40px;
}

/* .doughnut-button {
  margin-top: 29px;
  margin-left: 25px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #22172b;

  position: absolute;
  width: 106px;

  /* BG */
/*
  background: #fffafe;
  box-shadow: 0px 4px 12px #3b0c5a;
  border-radius: 12px;
} */

.number-percentage{
  color: #FFFAFE;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
}

.first-percentage {
  position: absolute;
  top: 27px;
  left: 127px;
  color: #FFFAFE;
  margin: 0;
  width: 200px;
}

.second-percentage {
  position: relative;
  margin: 0;
  right: -18px;
  top: 27px;
  color: #FFFAFE;
  width: 200px;
  place-items: baseline;
}
.percentage-container{
  width: 200px;
}
.doughnut-div {
  display: flex;
  flex-direction: row;
  position: relative;
  /* justify-content: center; */
}
.doughnut-div > canvas:nth-child(2n) {
  position: relative;
  left: -303px;
  top: -12px;
  height: 150px !important;
}
.doughnut-div > canvas:nth-child(4n) {
  position: relative;
  left: 8px;
  top: -12px;
  height: 150px !important;
}

/* .chartjs-render-monitor{
  position: relative;
  left: -114px;
} */

@media only screen and (max-width: 1400px) {
.doughnut{
  margin-top: 48px;
}
}