.container{
    border: 0px lightblue solid;
    border-radius: 8px;
    padding: 24px 2%;
    width: 660px;
    background: #FFFFFF;
}

@media only screen and (max-width: 1400px) {
    .container{
        margin-top: 24px;
    }
}

@media only screen and (max-width: 812px) {
    .container{
        width: 500px;
        padding: 12px 2% 12px 2%;
    }
}