.about-page {
  margin: 112px 150px 75px 150px;
  padding-bottom: 120px;
  overflow: hidden;
}
.aboutUsPage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}

.rectangul {
  position: absolute;
  width: 200px;
  height: 20px;
  margin: 0px;
  margin-top: 30px;
  margin-left: 147px;
  background: rgba(140, 5, 130, 0.3);
  opacity: 0.5;
}

@media only screen and (max-width: 1400px) {
  .about-page {
    margin: 112px 60px 75px 60px;
    padding-bottom: 120px;
    overflow: hidden;
  }
}


@media only screen and (max-width: 1200px) {
  .aboutUsPage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
