* {
  font-family: "Inter", sans-serif;
  color: #22172b;
}

/* @media (max-width: 1400px) {
  .about-page {
    margin-left: 60px;
  }
  .target-little-container {
    margin-left: 150px;
  }
  .home-page-general-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }
  .home-page-second-p{
    margin-bottom: 22px;
  }
  .our-data {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .home-page-div-left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .home-page-div-right {
    margin-top: 150px;
    width: 80%;
  }
  
}

canvas {
  position: relative;
  margin: 0;
  right: 22%;
  width: 150px;
  height: 150px;
}

canvas:nth-child(3n) {
  right: 89%;
  /* right: 500px; */
/* } */

body {
  background-image: url("./assets/img/8M.png");
  height: 500px; /* You must set a specified height */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #FFFAFE;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  margin-bottom: 4px;
}

p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.523077px;
  color: #22172b;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
