@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

canvas{
  /* position: initial !important; */
}

.chart-container{
  position: relative;
}
.chart-container > canvas.chartjs-render-monitor{
  position: initial ! important;
}
.line-chart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 25px 0px;
}
.chart-title{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.653846px;
  color: #10182B;

}
.chart-legend{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 0px 0px 50px;
}

.legend{
  display: flex;
  align-items: center;
}
.legend-title{
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  letter-spacing: -0.392308px;
  color: #96999C;
}

.legend-circle-one, .legend-circle-two{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
}

.legend-circle-one{
  background-color: #8C0582;
}

.legend-circle-two{
  background-color: #00CFFF;
}
@media only screen and (max-width: 812px) {
  .chart-legend{
    margin: 1px 0px 0px 50px;
  }
  .line-chart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 16px 0px;
  }
}
